<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Tic-Tac-Toe</h2>
        </div>
        <div class="col-12">
            <div class="d-grid gap-2">
                <a routerLink="/new_game" class="btn btn-primary">Crear una partida</a>
            </div>
                    <hr>
                    <form action="">
    
                    <div class="d-grid gap-2">
    
                    <div class="form-group">
                        <input type="text" class="form-control" id="code-room" name="code-room" placeholder="Ingrese el codigo">
                    </div>
                    <a class="btn btn-secondary">Unirse a una partida</a>
    
                  </div>
            </form>
        </div>
    </div>
</div>
