<div class="container">
    <h1 class="titles">Tic-Tac-Toe</h1>
    <h5 class="titles">Por Juan Carlos Alonso</h5>
    <div class="game-container">

        <div *ngFor="let obj_field of fields; index as i" (click)="checkField(obj_field, i)" class="game-cell">
            <span *ngIf="obj_field.ind_x">X</span>
            <span *ngIf="obj_field.ind_o">O</span>
        </div>
    </div>
    <h3 class="titles">{{ this.message }}</h3>
    <div class="d-grid gap-2">
        <button *ngIf="game.status" (click)="resetGame()" class="btn btn-warning">Jugar de nuevo</button>
      </div>
</div>