//Estilos para centrar el texto en el contenedor de bootstrap
.container {
text-align: center;
}
//Estilos para dar forma a el tablero
.game-container {
display: grid;
grid-template-columns: repeat(3, auto);
width: 306px;
margin: 50px auto;
}
//Color de titulos
.titles{
 color: #C9C9C9;
}
//Estilos para dar forma a cada uno de los campos del tablero
.game-cell {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #C2900A;
    border: 2px solid #C2900A;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    color: #3EB595;
    font-weight: bold;
  }